.beets-logo {
  width: 90px;
  height: 65px;
}

.container {
  min-width: 65%;
}

.jumbotron {
  width: 100%;
  background-color: #e9ecef;
  border-radius: 10px;
}

a {
  text-decoration: none !important;
}

.bt.btn-warning:focus {
  outline: none;
  box-shadow: none;
}

button.subheader.btn.btn-primary,
button.subheader.btn.btn-primary:hover,
button.subheader.btn.btn-primary:active,
button.subheader.btn.btn-primary:visited,
button.subheader.btn.btn-success,
button.subheader.btn.btn-success:hover,
button.subheader.btn.btn-success:active,
button.subheader.btn.btn-success:visited {
  width: 100%;
  font-weight: bold;
}

button.subheader.btn.btn-primary:focus,
button.subheader.btn.btn-primary:active:focus,
button.subheader.btn.btn-success:focus,
button.subheader.btn.btn-success:active:focus {
  outline: none;
  box-shadow: none;
}

.asset-img {
  width: 100%;
  height: auto;
  border: 5px solid #808080;
}

.asset-price {
  display: flex;
  justify-content: space-between;
}

.badge.price {
  background-color: #198754;
}

.badge.tax {
  background-color: #0d6efd;
}

.badge.price,
.badge.tax {
  font-size: 14px;
}

.asset-info {
  flex: 1;
  overflow-y: scroll;
  background: #fff;
  max-height: 350px;
  border-radius: 5px;
}

.asset-info > p {
  font-size: 16px;
}

input {
  text-align: center;
}

.asset-history {
  flex: 1;
  overflow-y: scroll;
  background: #fff;
  max-height: 350px;
  border-radius: 5px;
}

td {
  font-size: 16px;
}

@media (min-width: 548px) {
  .jumbotron {
    min-width: 500px;
  }
}

@media (max-width: 548px) {
  .badge.price,
  .badge.tax {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  td {
    font-size: 14px;
  }
}
