#dapp {
  min-height: calc(100vh - 350px);
}

.beets {
  width: 90px;
  height: 65px;
}

.container {
  min-width: 65%;
}

.navbar {
  background-color: #0f0823;
}

.nav-link {
  font-size: 16px;
  color: #fff !important;
  text-transform: uppercase;
}

a {
  text-decoration: none !important;
}

.jumbotron {
  width: 100%;
  background-color: #e9ecef;
  border-radius: 10px;
}

button.subheader.btn.btn-primary,
button.subheader.btn.btn-success {
  width: 100%;
  font-weight: bold;
}

button.subheader.btn.btn-primary:focus,
button.subheader.btn.btn-primary:active:focus,
button.subheader.btn.btn-success:focus,
button.subheader.btn.btn-success:active:focus {
  outline: none;
  box-shadow: none;
}

.asset-media {
  width: 100%;
  height: auto;
  border: 5px solid #808080;
}

.asset-price {
  display: flex;
  justify-content: space-between;
}

.badge.price {
  font-size: 14px;
  background-color: #198754;
}

.badge.tax {
  font-size: 14px;
  background-color: #0d6efd;
}

.asset-info {
  flex: 1;
  overflow-y: scroll;
  background: #fff;
  height: 300px;
  border-radius: 5px;
}

.asset-info > p {
  font-size: 18px;
  line-height: 1.8;
}

input {
  text-align: center;
}

.asset-history {
  flex: 1;
  overflow-y: scroll;
  background: #fff;
  max-height: 350px;
  border-radius: 5px;
}

td {
  font-size: 16px;
}

.footer {
  height: 200px;
}

.footer-text {
  color: #fff;
  font-size: 18px;
}

@media (min-width: 548px) {
  .jumbotron {
    min-width: 500px;
  }
}

@media (max-width: 548px) {
  .badge.price,
  .badge.tax {
    font-size: 12px;
  }

  .nav-link {
    font-size: 14px;
  }

  .connected-account {
    display: none;
  }

  .asset-info > p {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (max-width: 992px) {
  td {
    font-size: 14px;
  }
}
